.demo-btn-margin .btn{margin-bottom:6px}
.item-removed header{
    opacity: 0.2;
}
.item-removed footer{
    opacity: 1;
}
@media (min-width: 767px){
    .descricao-vaga .img-vaga{
        max-width: 150px;
        margin-right: 30px;
    }
}
.vaga-cargo, .vaga-estado, .vaga-escolaridade, .vaga-tipo, .vaga-horas{
    font-family: Oswald,sans-serif;
    letter-spacing: 1px;
    margin: 16px 0;
    line-height: 1.4;
    font-size: 17px;
    font-weight: 500;
}
.page-vaga{
    margin-bottom: 0px !important; 
}
/* Jquery UI*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    border: 1px solid #38b0fe;
    background: #38b0fe;
    font-weight: normal;
    color: #fff;
}
.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 6px 12px;
}

.btn-candidatar{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-candidatar:hover {
    background-color: #7ec855!important;
    border-color: #7ec855!important;
}

.btn-candidatar:hover::after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    margin-left: 5px;
}

@media (max-width: 991px){
    .label-mobile{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .mobile-text-center{
        text-align: center;
    }
}