.demo-btn-margin .btn{margin-bottom:6px}
.item-removed header{
    opacity: 0.2;
}
.item-removed footer{
    opacity: 1;
}
@media (min-width: 767px){
    .descricao-vaga .img-vaga{
        max-width: 150px;
        margin-right: 30px;
    }
}
